NEXT_PUBLIC_GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXT_PUBLIC_META_APP_ID=
META_APP_SECRET=
# For Docker deployments, use the service name: http://virpanix-backend:3001/api instead of localhost
BACKEND_URL=http://localhost:3001/api
NEXT_PUBLIC_ROOT_DOMAIN=localhost:3000
APP_DOMAINS=localhost:3002
